<!-- Hero -->
<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center py-2">
            <div class="flex-grow-1">
                <h1 class="h3 fw-bold mb-1">
                    <%=pagetitle%>
                </h1>
                
            </div>
         
        </div>
    </div>
</div>
<!-- END Hero -->